TCC_DB_DRIVER=mysql
TCC_ADMIN_USER=fabricante
TCC_ADMIN_PASSWORD=troque-esta-senha
TCC_KEY_PASSPHRASE=troque-esta-passphrase
TCC_STORAGE_PATH=/opt/lampp/storage/tcc
TCC_DB_SQLITE_PATH=/tmp/tcc.sqlite
