# Configuração de Banco de Dados (SQLite)
TCC_DB_SQLITE_PATH=/tmp/tcc-storage/tcc.sqlite

# Credenciais Administrativas
TCC_ADMIN_USER=fabricante
TCC_ADMIN_PASSWORD=troque-esta-senha

# Segurança Criptográfica
TCC_KEY_PASSPHRASE=troque-esta-passphrase

# Armazenamento de Chaves RSA
TCC_STORAGE_PATH=/tmp/tcc-storage
